* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #282828;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.container button {
  padding: 50px;
  margin-top: 150px;
  background-color: #202020;
  color: #fff;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s;
}

.container button:hover {
  background-color: #242424;
}